.app-container {
    display: flex;
    flex-direction: column;
}

.app-container header nav {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.app-container header nav .cat-link {
    margin-right: 20px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background 100ms ease 

    &:hover {
        background: #eee;    
    }

    &.selected {
        background: #e5e5e5;
    }
}