.app-container {
    display: flex;
    flex-direction: column;
}

.app-container header nav {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.app-container header nav .cat-link {
    margin-right: 20px;
}